



$color-white:#ffffff;
$color-tertiary:#F5F5F5;
$color-primary:#54BD95;
$color-black:#191A15;
$color-seconday:#F9F8FE;
$color_pentary:#A6A6A6;
$color-fotter-primary:#161C28;
$color-fotter-secondary:#222938;


// @mixin bg-color-primary{
//     background-color: $color-white;
// }

// @mixin bg-color-secondary{
//     background-color: $color-seconday;
// }



// .hero-section,.chose_a_plan,.Hero_Section_3,.Hero_Section_4{
//     @include bg-color-primary();
//   };

// .Hero_Section_2{
//     @include bg-color-secondary();
// }


